allow init audio_device:chr_file { write ioctl };
allow init input_device:chr_file ioctl;
allow init sensors_device:chr_file { write ioctl };
allow init tee_device:chr_file { write ioctl };

allow init servicemanager:binder { transfer call };
allow init system_server:binder { transfer call };

allow init property_socket:sock_file write;
allow init socket_device:sock_file { create setattr };

allow init system_data_file:file { rename append write };
allow init firmware_file:dir mounton;

allow init debugfs:file write;

# ptt_socket_app
allow init dnsproxyd_socket:sock_file write;
allow init netd:unix_stream_socket connectto;
allow init self:netlink_socket { read write getattr connect };

allow rild unlabeled:dir { getattr open read };
allow rild unlabeled:file { getattr open read };

allow init socket_device:sock_file unlink;
allow init sysfs:dir write;

allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init debugfs:dir mounton;

allow init gpu_device:chr_file { ioctl write };
allow init hal_graphics_composer_default:binder call;
allow init hal_graphics_mapper_hwservice:hwservice_manager find;
allow init hal_perf_default:binder call;
allow init hal_perf_hwservice:hwservice_manager find;
allow init hidl_allocator_hwservice:hwservice_manager find;
allow init hidl_base_hwservice:hwservice_manager add;
allow init mm-qcamerad:unix_dgram_socket sendto;
allow init sysfs_lowmemorykiller:dir write;
allow init thermal-engine:unix_stream_socket connectto;
allow init thermal_socket:sock_file write;
allow init vendor_camera_data_file:sock_file write;
allow init video_device:chr_file ioctl;

allow init cameraserver:binder { call transfer };
allow init hwservicemanager:binder { call transfer };
allow init ion_device:chr_file ioctl;
allow init video_device:chr_file write;

allow init vendor_file:file execute;

allow init cnd:binder call;
allow init fwk_display_hwservice:hwservice_manager find;
allow init fwk_scheduler_hwservice:hwservice_manager find;
allow init fwk_sensor_hwservice:hwservice_manager find;
allow init hal_audio_default:binder call;
allow init hal_audio_hwservice:hwservice_manager find;
allow init hal_bluetooth_default:binder call;
allow init hal_bluetooth_hwservice:hwservice_manager find;
allow init hal_camera_default:binder call;
allow init hal_camera_hwservice:hwservice_manager find;
allow init hal_cas_default:binder call;
allow init hal_cas_hwservice:hwservice_manager find;
allow init hal_cne_hwservice:hwservice_manager find;
allow init hal_configstore_ISurfaceFlingerConfigs:hwservice_manager find;
allow init hal_configstore_default:binder call;
allow init hal_display_color_hwservice:hwservice_manager find;
allow init hal_display_config_hwservice:hwservice_manager find;
allow init hal_display_postproc_hwservice:hwservice_manager find;
allow init hal_drm_default:binder call;
allow init hal_drm_hwservice:hwservice_manager find;
allow init hal_fingerprint_default:binder call;
allow init hal_fingerprint_hwservice:hwservice_manager find;
allow init hal_gatekeeper_default:binder call;
allow init hal_gatekeeper_hwservice:hwservice_manager find;
allow init hal_gnss_hwservice:hwservice_manager find;
allow init hal_gnss_qti:binder call;
allow init hal_graphics_allocator_default:binder call;
allow init hal_graphics_allocator_hwservice:hwservice_manager find;
allow init hal_graphics_composer_hwservice:hwservice_manager find;
allow init hal_health_default:binder call;
allow init hal_health_hwservice:hwservice_manager find;
allow init hal_iop_hwservice:hwservice_manager find;
allow init hal_keymaster_default:binder call;
allow init hal_keymaster_hwservice:hwservice_manager find;
allow init hal_light_default:binder call;
allow init hal_light_hwservice:hwservice_manager find;
allow init hal_lineage_power_hwservice:hwservice_manager find;
allow init hal_memtrack_default:binder call;
allow init hal_memtrack_hwservice:hwservice_manager find;
allow init hal_nfc_default:binder call;
allow init hal_nfc_hwservice:hwservice_manager find;
allow init hal_omx_hwservice:hwservice_manager find;
allow init hal_power_default:binder call;
allow init hal_power_hwservice:hwservice_manager find;
allow init hal_qdutils_disp_hwservice:hwservice_manager find;
allow init hal_sensors_default:binder call;
allow init hal_sensors_hwservice:hwservice_manager find;
allow init hal_telephony_hwservice:hwservice_manager find;
allow init hal_thermal_default:binder call;
allow init hal_thermal_hwservice:hwservice_manager find;
allow init hal_usb_default:binder call;
allow init hal_usb_hwservice:hwservice_manager find;
allow init hal_vibrator_default:binder call;
allow init hal_vibrator_hwservice:hwservice_manager find;
allow init hal_vr_default:binder call;
allow init hal_vr_hwservice:hwservice_manager find;
allow init hal_wifi_default:binder call;
allow init hal_wifi_hwservice:hwservice_manager find;
allow init hal_wifi_supplicant_default:binder call;
allow init hal_wifi_supplicant_hwservice:hwservice_manager find;
allow init hidl_manager_hwservice:hwservice_manager find;
allow init hidl_token_hwservice:hwservice_manager find;
allow init hwservicemanager:hwservice_manager list;
allow init mediacodec:binder call;
allow init netd:binder call;
allow init rild:binder call;
allow init surfaceflinger:binder call;
allow init system_net_netd_hwservice:hwservice_manager find;
allow init system_wifi_keystore_hwservice:hwservice_manager find;
